table, th, td {
    border: 1px solid black;
    padding: 0.5rem;
    border-collapse: collapse;
}

table {
    background-color: #FFFFCC;
    margin: 10px;
}

.labelStyle {
    color: darkolivegreen;
    font: bolder;
    font-size: large;
}
.HeaderRow {
    background-color: darkolivegreen;
    color: white;
}
.ErrorTable{
    color:red;
    background-color: white;
    border: hidden;
}
.ButtonStyle{
    background-color:darkolivegreen;
    color:white;
    border-radius: 5px;
    padding:0.5rem;
}